[submodule ".config/nvim/pack/bundle/start/spellptbr"]
	path = .config/nvim/pack/bundle/start/spellptbr
	url = https://github.com/mateusbraga/vim-spell-pt-br
[submodule ".config/nvim/pack/bundle/start/polyglot"]
	path = .config/nvim/pack/bundle/start/polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".config/nvim/pack/bundle/opt/colorizer"]
	path = .config/nvim/pack/bundle/opt/colorizer
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule ".config/nvim/pack/bundle/opt/run"]
	path = .config/nvim/pack/bundle/opt/run
	url = https://github.com/leafOfTree/vim-run
[submodule ".config/nvim/pack/bundle/start/lspconfig"]
	path = .config/nvim/pack/bundle/start/lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule ".config/nvim/pack/bundle/start/codeium"]
	path = .config/nvim/pack/bundle/start/codeium
	url = https://github.com/Exafunction/codeium.vim
