[Unit]
Description=Hosts adblock

[Service]
Type=simple
ExecStart=/home/arktnld/.local/bin/hosts
Restart=always
RestartSec=60
User=root

[Install]
WantedBy=default.target
