[Desktop Entry]
Name=SomaFM Random
GenericName=radio
Comment=radio
Exec=bash -c "somafm play random"
Icon=mpv
Terminal=True
Type=Application
Categories=Utility;RemoteAccess;
StartupNotify=false
